/*Style Sheet for screens with width between 1200px and 1600px*/
#header
{
	display: inline-block;
	max-height:100%;
	max-width: 1100px;
	text-align: center;
	display: block;
	margin: 0 auto;
}
.dragonClass
{
	max-width: 100%;
	max-height:100%;
}
.engine
{
	display: inline-block;
	max-height:100%;
	max-width: 1100px;
	text-align: center;
	display: block;
	margin: 0 auto;
	height: 80vh;
}
.section
{
	margin: 0 auto;
	max-width: 1100px;
	padding-right: 0px;
	padding-left: 0px;
	color: black;
	background-color: #CCCCCC;
}
.button
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	width: 216px;
	background-color: #333333;
	color: #DDDDDD;
	border-right:2px solid #DDDDDD;
	border-left:2px solid #DDDDDD;
}
.partition
{
	background-color: #333333;
	width: 1080px;
	height:24px;
	margin: 0 auto;
	max-width: 1100px;
}
.text
{
	padding-left: 10px;
	padding-right: 5px;
}
